In [1]:
import pandas as pd
import csv
import glob
import random

In [2]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('data_2010_to_2023/'+'*.csv')])
df

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.145949,51.593914,On or near Providence Place,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
1,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.140192,51.582311,On or near Hatch Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
2,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
3,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
4,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
92828,9e2cf8a9d0d86bb4f87e7d5828ff37fb3d4e8cb855e327...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN
92829,cea2e7ccaa5c3bcf1ea20fbd4444831a7b8d0169872524...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Local resolution,NaN
92830,cb35cc774e0d827d343f949f41068d4fc89bb81074a506...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN
92831,1ed02666b90806fd9b57f771aaf55ef81708f095ab8605...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN
92832,7a43685bfa1543e796c96d81b22436eab79432b5e3f46a...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN

In [3]:
df_burglary = df[df['Crime type'] == 'Burglary']
df_burglary = df_burglary.reset_index(drop = True)
df_burglary

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.140619,51.583427,On or near Rams Grove,E01000027,Barking and Dagenham 001A,Burglary,NaN,NaN
1,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.128479,51.583414,On or near Cavalier Close,E01000028,Barking and Dagenham 001B,Burglary,NaN,NaN
2,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134801,51.578470,On or near Portland Close,E01000029,Barking and Dagenham 001C,Burglary,NaN,NaN
3,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.131156,51.582323,On or near Lake Road,E01000029,Barking and Dagenham 001C,Burglary,NaN,NaN
4,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.140466,51.584159,On or near Bagleys Spring,E01000030,Barking and Dagenham 001D,Burglary,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
919927,400f7419cc445a8de4b2140c3153d63d99358e69aa77a9...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Burglary,Under investigation,NaN
919928,dd317e1582794d8f24562a1bde1024129a7466cb2f3993...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Burglary,Under investigation,NaN
919929,9974a1809c3da57ba717f92911e62c86b590c92d0469c2...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Burglary,Under investigation,NaN
919930,e2483074dc8848d0823d61711e9f18d8cb33f05ca4b1d9...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Burglary,Under investigation,NaN
919931,6947ac864b02c1b3ad979845b7d37c69d0ab236a6fdee2...,2023-03,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Burglary,Under investigation,NaN

In [4]:
df_burglary.dropna(subset = ['LSOA name','LSOA code'], inplace=True)

In [5]:

df_barnet = df_burglary.loc[df_burglary['LSOA name'].str.contains("Barnet", case=False)]
df_barnet = df_barnet.reset_index(drop = True)

In [6]:
# convert the LSOA encoding to the 2021 version

lsoa_raw = 'LSOA_(2011)_to_LSOA_(2021).csv'

lsoa = pd.read_csv(lsoa_raw)

# filter the data to include only the LSOA codes in Barnet
barnet_lsoas = lsoa[lsoa['LAD22NM'] == 'Barnet']


df_lsoa_split = barnet_lsoas[barnet_lsoas['LSOA11CD'].duplicated(keep=False)]#value_counts()

df_lsoa_split.sort_values(by=['LSOA11CD'])
# lsoa's that changed from 11 to 21

,LSOA11CD,LSOA11NM,LSOA21CD,LSOA21NM,CHGIND,LAD22CD,LAD22NM,LAD22NMW,ObjectId
31660,E01000125,Barnet 024A,E01033913,Barnet 024G,S,E09000003,Barnet,NaN,31661
31661,E01000125,Barnet 024A,E01033914,Barnet 024H,S,E09000003,Barnet,NaN,31662
31671,E01000148,Barnet 030B,E01033923,Barnet 043C,S,E09000003,Barnet,NaN,31672
31672,E01000148,Barnet 030B,E01033924,Barnet 043D,S,E09000003,Barnet,NaN,31673
31664,E01000155,Barnet 030D,E01033916,Barnet 042B,S,E09000003,Barnet,NaN,31665
31669,E01000155,Barnet 030D,E01033921,Barnet 043A,S,E09000003,Barnet,NaN,31670
31670,E01000155,Barnet 030D,E01033922,Barnet 043B,S,E09000003,Barnet,NaN,31671
31658,E01000262,Barnet 017D,E01033911,Barnet 017E,S,E09000003,Barnet,NaN,31659
31659,E01000262,Barnet 017D,E01033912,Barnet 017F,S,E09000003,Barnet,NaN,31660
31663,E01033572,Barnet 030E,E01033915,Barnet 042A,S,E09000003,Barnet,NaN,31664
31667,E01033572,Barnet 030E,E01033919,Barnet 042E,S,E09000003,Barnet,NaN,31668
31668,E01033572,Barnet 030E,E01033920,Barnet 042F,S,E09000003,Barnet,NaN,31669
31673,E01033572,Barnet 030E,E01033925,Barnet 043E,S,E09000003,Barnet,NaN,31674
31665,E01033573,Barnet 030F,E01033917,Barnet 042C,S,E09000003,Barnet,NaN,31666
31666,E01033573,Barnet 030F,E01033918,Barnet 042D,S,E09000003,Barnet,NaN,31667

In [7]:
lsoa_splitted_lst = list(df_lsoa_split['LSOA11CD'].unique())

lsoa_splitted_dct = {'E01000125':['E01033913', 'E01033914'],
                   'E01000148': ['E01033923', 'E01033924'],
                   'E01000155': ['E01033916', 'E01033921', 'E01033922'],
                   'E01000262': ['E01033911', 'E01033912'],
                   'E01033572': ['E01033915', 'E01033919', 'E01033920', 'E01033925'],
                   'E01033573': ['E01033917','E01033918']}

df_replace = df_barnet[df_barnet['LSOA code'].isin(lsoa_splitted_lst)]
# df with rows to replace inside df_barnet

In [8]:
old_lsoa = list(df_barnet['LSOA code'].values)
new_lsoa = []

for idx, row in df_barnet.iterrows():
    if row['LSOA code'] in lsoa_splitted_lst:
        new_lsoa.append(random.choice(lsoa_splitted_dct[row['LSOA code']]))
        # to reassign crimes that happened with the 2011 encoding to the 2021 one,
        # we choose a random code from the ones that the old code was split into and assign the crime there
        # so we have all crimes assigned to a code with the current naming scheme
    else: 
        new_lsoa.append(df_barnet.iloc[idx]['LSOA code'])   
        
# new_lsoa list contains the unchanged lsoa codes and the changed ones
# old_lsoa list contains the unchanged codes 
# in the end we replace old with new codes

In [9]:
df_barnet['LSOA code'].replace(old_lsoa, new_lsoa, inplace=True)

In [10]:
df_barnet[df_barnet['LSOA code'].isin(lsoa_splitted_lst)]

Empty DataFrame
Columns: [Crime ID, Month, Reported by, Falls within, Longitude, Latitude, Location, LSOA code, LSOA name, Crime type, Last outcome category, Context]
Index: []

In [11]:
# check if all LSOA codes fall within our 2021 LSOA encoding
df_barnet[df_barnet["LSOA code"].isin(list(barnet_lsoas['LSOA21CD'].unique())) == False]

Empty DataFrame
Columns: [Crime ID, Month, Reported by, Falls within, Longitude, Latitude, Location, LSOA code, LSOA name, Crime type, Last outcome category, Context]
Index: []

In [12]:
# WARDS

# opens a dataframe where you have all the information of the LSOA's and to which wards they belong. 

df_t = pd.read_csv('Area_(2021)_to_Ward_(2022).csv')
df_LSOA21NM = df_t.loc[df_t['LSOA21NM'].str.contains("Barnet", case=False)]
df_LSOA21NM

# did some test and the wards align with the readings

df_LSOA21NM.reset_index(drop = True, inplace=True)

In [13]:
df_LSOA21NM

,LSOA21CD,LSOA21NM,LSOA21NMW,WD22CD,WD22NM,WD22NMW,LAD22CD,LAD22NM,LAD22NMW,ObjectId
0,E01000145,Barnet 037A,NaN,E05013631,Childs Hill,NaN,E09000003,Barnet,NaN,28801
1,E01000140,Barnet 041C,NaN,E05013631,Childs Hill,NaN,E09000003,Barnet,NaN,28804
2,E01000136,Barnet 038B,NaN,E05013631,Childs Hill,NaN,E09000003,Barnet,NaN,28807
3,E01000189,Barnet 014D,NaN,E05013637,Edgware,NaN,E09000003,Barnet,NaN,28810
4,E01000151,Barnet 026B,NaN,E05013632,Colindale North,NaN,E09000003,Barnet,NaN,28812
...,...,...,...,...,...,...,...,...,...,...
215,E01000315,Barnet 022F,NaN,E05013651,Woodhouse,NaN,E09000003,Barnet,NaN,29432
216,E01000321,Barnet 012E,NaN,E05013651,Woodhouse,NaN,E09000003,Barnet,NaN,29433
217,E01000320,Barnet 011D,NaN,E05013651,Woodhouse,NaN,E09000003,Barnet,NaN,29434
218,E01000318,Barnet 019E,NaN,E05013651,Woodhouse,NaN,E09000003,Barnet,NaN,29435
219,E01000323,Barnet 019F,NaN,E05013651,Woodhouse,NaN,E09000003,Barnet,NaN,29436

In [20]:
df_LSOA21NM["WD22NM"].unique()

array(['Childs Hill', 'Edgware', 'Colindale North', 'Barnet Vale',
       'Brunswick Park', 'Burnt Oak', 'Colindale South', 'Cricklewood',
       'East Barnet', 'East Finchley', 'Edgwarebury',
       'Finchley Church End', 'Friern Barnet', 'Garden Suburb',
       'Golders Green', 'West Finchley', 'Hendon', 'High Barnet',
       'Mill Hill', 'Totteridge & Woodside', 'Underhill', 'West Hendon',
       'Whetstone', 'Woodhouse'], dtype=object)

In [14]:
# makes a dictionary where every LSOA is a key and the ward of the LSOA is the value

dct_LSOA_to_WARD = {}
for index, row in df_LSOA21NM.iterrows():
    key = row['LSOA21CD']
    value = df_LSOA21NM["WD22NM"][index]
    dct_LSOA_to_WARD[key] = value
    
dct_LSOA_to_WARD

{'E01000145': 'Childs Hill',
 'E01000140': 'Childs Hill',
 'E01000136': 'Childs Hill',
 'E01000189': 'Edgware',
 'E01000151': 'Colindale North',
 'E01000232': 'Edgware',
 'E01033916': 'Colindale North',
 'E01000234': 'Edgware',
 'E01000154': 'Colindale North',
 'E01000271': 'Barnet Vale',
 'E01000268': 'Barnet Vale',
 'E01000247': 'Barnet Vale',
 'E01000251': 'Barnet Vale',
 'E01000288': 'Barnet Vale',
 'E01000246': 'Barnet Vale',
 'E01000267': 'Barnet Vale',
 'E01000252': 'Barnet Vale',
 'E01000270': 'Barnet Vale',
 'E01000269': 'Barnet Vale',
 'E01000120': 'Brunswick Park',
 'E01000123': 'Brunswick Park',
 'E01000117': 'Brunswick Park',
 'E01000124': 'Brunswick Park',
 'E01000118': 'Brunswick Park',
 'E01000115': 'Brunswick Park',
 'E01000119': 'Brunswick Park',
 'E01000121': 'Brunswick Park',
 'E01000116': 'Brunswick Park',
 'E01000122': 'Brunswick Park',
 'E01000133': 'Burnt Oak',
 'E01000127': 'Burnt Oak',
 'E01000226': 'Burnt Oak',
 'E01000134': 'Burnt Oak',
 'E01000235': 'Burnt Oak',
 'E01000131': 'Burnt Oak',
 'E01033913': 'Burnt Oak',
 'E01000128': 'Burnt Oak',
 'E01000194': 'Burnt Oak',
 'E01000130': 'Burnt Oak',
 'E01033914': 'Burnt Oak',
 'E01000129': 'Burnt Oak',
 'E01000132': 'Burnt Oak',
 'E01000139': 'Childs Hill',
 'E01000144': 'Childs Hill',
 'E01000138': 'Childs Hill',
 'E01000146': 'Childs Hill',
 'E01000137': 'Childs Hill',
 'E01000135': 'Childs Hill',
 'E01000142': 'Childs Hill',
 'E01000214': 'Childs Hill',
 'E01000126': 'Colindale North',
 'E01000152': 'Colindale North',
 'E01000153': 'Colindale North',
 'E01033917': 'Colindale South',
 'E01000147': 'Colindale South',
 'E01033920': 'Colindale South',
 'E01033919': 'Colindale South',
 'E01033921': 'Colindale South',
 'E01033915': 'Colindale South',
 'E01033925': 'Colindale South',
 'E01033922': 'Colindale South',
 'E01033918': 'Colindale South',
 'E01033924': 'Colindale South',
 'E01033923': 'Colindale South',
 'E01000223': 'Cricklewood',
 'E01000224': 'Cricklewood',
 'E01000143': 'Cricklewood',
 'E01000222': 'Cricklewood',
 'E01000221': 'Cricklewood',
 'E01000141': 'Cricklewood',
 'E01000173': 'East Barnet',
 'E01000174': 'East Barnet',
 'E01000175': 'East Barnet',
 'E01000168': 'East Barnet',
 'E01000171': 'East Barnet',
 'E01000167': 'East Barnet',
 'E01000172': 'East Barnet',
 'E01000166': 'East Barnet',
 'E01000169': 'East Barnet',
 'E01000170': 'East Barnet',
 'E01000181': 'East Finchley',
 'E01000180': 'East Finchley',
 'E01000176': 'East Finchley',
 'E01000178': 'East Finchley',
 'E01000185': 'East Finchley',
 'E01000184': 'East Finchley',
 'E01000179': 'East Finchley',
 'E01000183': 'East Finchley',
 'E01000177': 'East Finchley',
 'E01000182': 'East Finchley',
 'E01000193': 'Edgware',
 'E01000192': 'Edgware',
 'E01000233': 'Edgware',
 'E01000191': 'Edgware',
 'E01000190': 'Edgware',
 'E01000227': 'Edgware',
 'E01000195': 'Edgwarebury',
 'E01000186': 'Edgwarebury',
 'E01000229': 'Edgwarebury',
 'E01000231': 'Edgwarebury',
 'E01000230': 'Edgwarebury',
 'E01000188': 'Edgwarebury',
 'E01000187': 'Edgwarebury',
 'E01000228': 'Edgwarebury',
 'E01000197': 'Finchley Church End',
 'E01000304': 'Finchley Church End',
 'E01000198': 'Finchley Church End',
 'E01000202': 'Finchley Church End',
 'E01000199': 'Finchley Church End',
 'E01000204': 'Finchley Church End',
 'E01000200': 'Finchley Church End',
 'E01000196': 'Finchley Church End',
 'E01000201': 'Finchley Church End',
 'E01000203': 'Finchley Church End',
 'E01000160': 'Friern Barnet',
 'E01000164': 'Friern Barnet',
 'E01000265': 'Friern Barnet',
 'E01000163': 'Friern Barnet',
 'E01000158': 'Friern Barnet',
 'E01000162': 'Friern Barnet',
 'E01000165': 'Friern Barnet',
 'E01000159': 'Friern Barnet',
 'E01000156': 'Friern Barnet',
 'E01000157': 'Friern Barnet',
 'E01000161': 'Friern Barnet',
 'E01000206': 'Garden Suburb',
 'E01000213': 'Garden Suburb',
 'E01000210': 'Garden Suburb',
 'E01000207': 'Garden Suburb',
 'E01000205': 'Garden Suburb',
 'E01000209': 'Garden Suburb',
 'E01000208': 'Garden Suburb',
 'E01000225': 'Golders Green',
 'E01000219': 'Golders Green',
 'E01000216': 'Golders Green',
 'E01000217': 'Golders Green',
 'E01000218': 'Golders Green',
 'E01000211': 'Golders Green',
 'E01000220': 'Golders Green',
 'E01000215': 'Golders Green',
 'E01000212': 'Golders Green',
 'E01000316': 'West Finchley',
 'E01000303': 'West Finchley',
 'E01000297': 'West Finchley',
 'E01000244': 'Hendon',
 'E01000238': 'Hendon',
 'E01000236': 'Hendon',
 'E01000240': 'Hendon',
 'E01000319': 'West Finchley',
 'E01000311': 'Hendon',
 'E01000242': 'Hendon',
 'E01000239': 'Hendon',
 'E01000245': 'Hendon',
 'E01000241': 'Hendon',
 'E01000243': 'Hendon',
 'E01000237': 'Hendon',
 'E01000250': 'High Barnet',
 'E01000249': 'High Barnet',
 'E01000286': 'High Barnet',
 'E01000248': 'High Barnet',
 'E01000253': 'High Barnet',
 'E01000290': 'High Barnet',
 'E01000254': 'High Barnet',
 'E01000255': 'Mill Hill',
 'E01000258': 'Mill Hill',
 'E01000256': 'Mill Hill',
 'E01000260': 'Mill Hill',
 'E01000261': 'Mill Hill',
 'E01000263': 'Mill Hill',
 'E01033911': 'Mill Hill',
 'E01000259': 'Mill Hill',
 'E01000264': 'Mill Hill',
 'E01000275': 'Totteridge & Woodside',
 'E01000278': 'Totteridge & Woodside',
 'E01000279': 'Totteridge & Woodside',
 'E01033912': 'Totteridge & Woodside',
 'E01000283': 'Totteridge & Woodside',
 'E01000280': 'Totteridge & Woodside',
 'E01000257': 'Totteridge & Woodside',
 'E01000276': 'Totteridge & Woodside',
 'E01000277': 'Totteridge & Woodside',
 'E01000294': 'Underhill',
 'E01000291': 'Underhill',
 'E01000287': 'Underhill',
 'E01000285': 'Underhill',
 'E01000292': 'Underhill',
 'E01000289': 'Underhill',
 'E01000293': 'Underhill',
 'E01000295': 'West Finchley',
 'E01000302': 'West Finchley',
 'E01000296': 'West Finchley',
 'E01000301': 'West Finchley',
 'E01000299': 'West Finchley',
 'E01000317': 'West Finchley',
 'E01000300': 'West Finchley',
 'E01000298': 'West Finchley',
 'E01000309': 'West Hendon',
 'E01000312': 'West Hendon',
 'E01000310': 'West Hendon',
 'E01000306': 'West Hendon',
 'E01000313': 'West Hendon',
 'E01000308': 'West Hendon',
 'E01000150': 'West Hendon',
 'E01000307': 'West Hendon',
 'E01000305': 'West Hendon',
 'E01000314': 'West Hendon',
 'E01000274': 'Whetstone',
 'E01000284': 'Whetstone',
 'E01000281': 'Whetstone',
 'E01000282': 'Whetstone',
 'E01000266': 'Whetstone',
 'E01000273': 'Whetstone',
 'E01000272': 'Whetstone',
 'E01000324': 'Woodhouse',
 'E01000322': 'Woodhouse',
 'E01000315': 'Woodhouse',
 'E01000321': 'Woodhouse',
 'E01000320': 'Woodhouse',
 'E01000318': 'Woodhouse',
 'E01000323': 'Woodhouse'}

In [15]:
# appends a new column called ward to the df_original.
# it first looks at the LSOA code an looks that code up un the dictionary which gives the wards of the LSOA
# and it puts that ward in the ward column

wards_lst = []
for index, row in df_barnet.iterrows():
    LSOA = row['LSOA code']
    ward = dct_LSOA_to_WARD[LSOA] 
    wards_lst.append(ward)
    
        
df_barnet['Ward'] = wards_lst

In [17]:
# df_barnet.drop(columns=['Unnamed: 0'], inplace=True)

In [18]:
df_barnet.to_csv('burglaries_preprocessed.csv')

In [19]:
df_barnet

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,Ward
0,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,-0.201877,51.655538,On or near High Street,E01000248,Barnet 001A,Burglary,NaN,NaN,High Barnet
1,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,-0.207853,51.654317,On or near The Avenue,E01000248,Barnet 001A,Burglary,NaN,NaN,High Barnet
2,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,-0.202510,51.656348,On or near Bruce Road,E01000248,Barnet 001A,Burglary,NaN,NaN,High Barnet
3,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,-0.206779,51.654768,On or near The Drive,E01000248,Barnet 001A,Burglary,NaN,NaN,High Barnet
4,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,-0.209537,51.655223,On or near Marriott Road,E01000249,Barnet 001B,Burglary,NaN,NaN,High Barnet
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44133,fda0870be993d2c9352ae14a540bf529c15a7aa9d92a4e...,2023-03,Metropolitan Police Service,Metropolitan Police Service,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Burglary,Under investigation,NaN,Childs Hill
44134,c6c2d9a772695865f4ca33fce59c26c48fe3a1cdac8c22...,2023-03,Metropolitan Police Service,Metropolitan Police Service,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Burglary,Under investigation,NaN,Childs Hill
44135,e5bab2bd4f31de44515dbf125b85284392d0349139a1d3...,2023-03,Metropolitan Police Service,Metropolitan Police Service,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Burglary,Under investigation,NaN,Childs Hill
44136,823465427f8764e250a48312715a4bd87e8012412046c6...,2023-03,Metropolitan Police Service,Metropolitan Police Service,-0.199449,51.563896,On or near Llanelly Road,E01000140,Barnet 041C,Burglary,Under investigation,NaN,Childs Hill
44137,50b5bbf4987109ee189f8a736ec7e92365b25169b7f783...,2023-03,Metropolitan Police Service,Metropolitan Police Service,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Burglary,Under investigation,NaN,Childs Hill

# Stop and search processing

In [21]:
sas = pd.concat([pd.read_csv(f) for f in glob.glob('data_stop_and_search/'+'*.csv')])
sas

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
0,Person and Vehicle search,2015-03-31T23:00:00+00:00,NaN,NaN,NaN,NaN,Male,18-24,White - White British (W1),White,Police and Criminal Evidence Act 1984 (section 1),NaN,Nothing found - no further action,NaN,NaN
1,Person and Vehicle search,2015-03-31T23:00:00+00:00,NaN,NaN,NaN,NaN,Male,18-24,White - White British (W1),White,Police and Criminal Evidence Act 1984 (section 1),NaN,Suspect arrested,NaN,NaN
2,Person search,2015-03-31T23:05:00+00:00,NaN,NaN,NaN,NaN,Male,18-24,Black or Black British - Any other Black ethni...,Black,Misuse of Drugs Act 1971 (section 23),NaN,Offender given drugs possession warning,NaN,NaN
3,Person search,2015-03-31T23:09:00+00:00,NaN,NaN,NaN,NaN,Male,NaN,Not Stated (NS),Black,Misuse of Drugs Act 1971 (section 23),NaN,Nothing found - no further action,NaN,NaN
4,Person search,2015-03-31T23:15:00+00:00,NaN,NaN,NaN,NaN,Male,18-24,Asian or Asian British - Any other Asian ethni...,Asian,Police and Criminal Evidence Act 1984 (section 1),NaN,Nothing found - no further action,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13635,Person search,2023-02-28T23:38:00+00:00,0.0,NaN,51.589113,-0.015532,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,Arrest,NaN,NaN
13636,Person and Vehicle search,2023-02-28T23:40:00+00:00,0.0,NaN,51.610458,0.206251,Male,over 34,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN
13637,Person search,2023-02-28T23:42:00+00:00,0.0,NaN,51.600526,-0.005028,Male,25-34,Other ethnic group - Not stated,Black,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN
13638,Person and Vehicle search,2023-02-28T23:50:00+00:00,0.0,NaN,51.457544,-0.016206,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Police and Criminal Evidence Act 1984 (section 1),Stolen goods,Arrest,NaN,NaN
13639,Person search,2023-02-28T23:53:00+00:00,0.0,NaN,51.589899,0.013245,Male,18-24,White - Any other White background,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Arrest,NaN,NaN

In [23]:
sas.dropna(subset = ['Longitude', 'Latitude'], inplace=True)

In [25]:
sas.to_csv('stop_and_search.csv')